.resizable-drawer .resizable-drawer-content {
  display:    block;
  overflow-y: auto;
}

.resizable-drawer .resizable-drawer-handle[draggable='true']:hover {
  cursor: pointer;
}

.resizable-drawer .resizable-drawer-handle[draggable='true']:active {
  cursor: move;
}
